html {font-family: Helvetica;
text-align: center;}
.broadway {font-size: 70px;
font-weight: bold;
}
.heading {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
color: white;
}
h4 {font-size: 18px;
text-decoration: underline;
}
.process {font-size: 32px;
font-weight: bold;
}
h3 {font-size: 23px;
font-weight: bold;
}
p {font-size: 14px;
}
.design {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
font-size: 23px;
font-weight: bold;
color: white;
}
.about {font-size: 11px;
color: white;
background-color: dimgray;
text-align: left;
}
